{% extends 'bootstrap_4.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block content %}

    <div class="example-wrapper">
        <main role="main" class="flex-shrink-0">
            <div class="container">
                <h1 class="mt-5">Accueil du site</h1><hr>
            </div>
    </main>
    <div class="container">
{% for item in users %}
    <h3>{{ item.getThename }}</h3>
    <p>{{ item.getThemail }} - <a href="{{ path("site_theuser_detail",{"slug":item.getThename}) }}">voir plus</a></p>
{% endfor %}
</div>
{% endblock %}
