{# accueil du blog#}
{% extends "base.html.twig" %}
{% block title %}Bienvenue sur le blog{% endblock %}
{% block haut %}<h1>Bienvenue sur le blog</h1>{% endblock %}
{% block milieu %}Milieu Lien vers l'<a href="{{ path("api") }}">api</a>{% endblock %}
{% block bas %}{% endblock %}
